.display {

}
.display-text {
  text-align: center;
  background-color: teal;
  padding: 15px;
  color: white;
}

.display-info {
  width: 100%;
  margin-top: 20px;
  margin-left: 110px;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: 25px;
}

select {
  width: 50%;
  margin-left: 45px !important;
}