.display {

}

.display h3 {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;

}
.display-text {
  text-align: center;
  padding: 15px;
  color: black;
}

.display-info {
  width: 100%;
  text-align: center;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: 18px;
  font-weight: 500;
}

select {
  display: inline-block;
  height: 5vh;
  margin-top: 30px;
}

.section-display {
  background-image: linear-gradient(to bottom, rgba(67, 198, 172, 1), rgba(248, 255, 174, 1));
  background-size: cover;
  height: 100vh;
}

#logo {
  vertical-align: middle;
  border-style: none;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 70%;
}

.display {
  display: inline-block;
  margin-top: 50%;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 80%;
  height: 6vh;
  padding: 5px 0;
  background-color: #00b070;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}


input[type="text"] {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 80% !important;
  height: 6vh;
  padding: 5px 0;
  color: black;
}

a.btn {
  margin: 0 auto;
  display: block;
  width: 66%;
  margin-top: 10px;

}

select.custom-select {
  width: 80%;
  height: 50px;
  color: #00b070;
  font-weight: bold;
}

.custom-select:focus {
  border-color: #00b070;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 176, 112, .5);
}

/*Tablet design*/
@media (min-width: 768px) {
  #logo {
    width: 35%;
  }

  .display {
    margin-top: 30%;
  }

}

/*Laptop design*/
@media (min-width: 1024px) {
  #logo {
    width: 25%;
  }

  .display {
    margin-top: 15%;
  }

  select.custom-select {
    width: 55%;
  }

  input[type="submit"] {
    width: 55%;
  }

  input[type="text"] {
    width: 55% !important;
  }
}

/*Desktop design*/
@media (min-width: 1920px) {
  #logo {
    width: 25%;
  }

  .display {
    margin-top: 15%;
  }

  select.custom-select {
    width: 55%;
  }

  input[type="submit"] {
    width: 55%;
  }


}